{% extends 'layout.html' %}

{% block content %}

<style>
  .input-container {
    border: 1px solid #ccc; /* Add border */
    border-radius: 10px; /* Round corners */
    padding: 15px; /* Add padding inside the containers */
    margin-bottom: 20px; /* Add margin to the bottom of the container */
    background-color: #fff; /* Optional: Change the background color if needed */
  }
</style>

<div class="container mt-5">
    <section class="shopkeeper-section card p-4">

        <div class="container mb-4">
            <a href="{{ url_for('transactions') }}" class="btn btn-primary">Transactions</a>
        </div>

        <!-- Read Tag Input Container -->
        <div class="input-container mb-4">
            <form method="post" action="{{ url_for('shopkeeperlogin') }}">
                {{ read_tag_form.csrf_token }}
                {{ read_tag_form.read_tag.label(class="form-label") }}
                <div class="input-group mb-3">
                    {{ read_tag_form.read_tag(class="form-control") }}
                    <div class="input-group-append">
                        {{ read_tag_form.submit_read(class="btn btn-primary") }}
                    </div>
                </div>
            </form>
        </div>

        <!-- Spend Amount Input Container -->
        <div class="input-container mb-4">
            <form method="post" action="{{ url_for('shopkeeperlogin') }}">
                {{ spend_tag_form.csrf_token }}
                {{ spend_tag_form.spend_amount.label(class="form-label") }}
                <div class="input-group mb-3">
                    {{ spend_tag_form.spend_amount(class="form-control") }}
                    <div class="input-group-append">
                        {{ spend_tag_form.submit_spend(class="btn btn-primary") }}
                    </div>
                </div>
            </form>
        </div>


        <div class="container">
            <p>Your available credits:
                {% if balance %}
                    <span id="creditAmount">{{ balance }}</span>
                {% else %}
                    <span id="creditAmount"></span>
                {% endif %}
            </p>
        </div>

    </section>
</div>

{% endblock content %}