{% extends 'layout.html' %}

{% block content %}

<style>
  .login-container {
    border: 1px solid #ccc; /* Add border */
    border-radius: 10px; /* Round corners */
    padding: 15px; /* Add padding inside the containers */
    margin-bottom: 20px; /* Add margin to the bottom of the container */
    background-color: #fff; /* Optional: Change the background color if needed */
  }
</style>

<div class="container mt-5">
    <section class="student-section card p-4">
        <!-- Add Credit Form Container -->
        <div class="login-container mb-4">
            <form method="post" action="{{ url_for('studentlogin') }}">
                {{ form_add.csrf_token }}
                <div class="mb-3">
                    {{ form_add.add_credit_amount.label(class="form-label") }}
                    {{ form_add.add_credit_amount(class="form-control", placeholder=form_add.add_credit_amount.render_kw.placeholder) }}
                </div>
                {{ form_add.submit_add(class="btn btn-success") }}
            </form>
        </div>
        

        <!-- Check Available Credits Form Container -->
        <div class="login-container">
            <form method="post" action="{{ url_for('studentlogin') }}">
                {{ form_check.csrf_token }}
                {{ form_check.submit_check(class="btn btn-primary mb-3") }}
            </form>
            <p>Your available credits:
                {% if balance %}
                    <span id="creditAmount">{{ balance }}</span>
                {% else %}
                    <span id="creditAmount"></span>
                {% endif %}
            </p>
        </div>

    </section>
</div>

{% endblock content %}
